.reveal pre {
    margin-bottom: 30px;
} 

.reveal pre > code > .code-highlight {
    background-color: lightgrey;   
}

h1 span.logo-mongodb {
    height: 300px;
    width: 100%;
}

section[data-state="title"] h1 {
    font-size: 1.8em;
    text-align: right;
}

section[data-state="title"] p.bio {
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 4em;
    height: 3em;
    background-image: url("../../common/img/jmikola_cartoon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

section.ul-2col > ul {
    width: 100%;
}

section.ul-2col > ul > li {
    float: left;
    margin-top: 1em;
    width: 49%;
}

section.ul-2col > ul > li:nth-child(odd) {
    clear: left;
}

section[data-state="final"] ul { margin-top: 2em; }
section[data-state="final"] h3 { margin-top: 1.5em; }

section[data-state="photo-credits"] ul li {
    font-size: 0.5em;
    line-height: 1.2em;
}
