@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

.reveal pre code {
    max-height: inherit;
}

.reveal li code {
    font-size: 0.8em;
}

.reveal ul + pre,
.reveal pre + pre {
    margin-top: 2em;
}

.reveal div.code-marker {
    position: absolute;
    margin-top: 0.18em;
    font-family: monospace;
    font-size: 0.55em;
    font-weight: bold;
    line-height: 1.2em;
}

@media print {
    .reveal div.code-marker { display: none; }
}

.reveal section img.transparent {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal h2,
.reveal h3,
.reveal h4 {
    text-transform: none;
    margin-bottom: 1em;
}

section[data-state="title"] {
    color: #eee;
}

section[data-state="title"] h1 {
    display: block;
    color: #eee;
    font-family: "Montserrat", Impact, sans-serif;
    font-size: 2.7em;
    line-height: 0.9em;
    letter-spacing: -0.03em;
    text-shadow:  10px  10px 90px #111,
                 -10px -10px 90px #111,
                  10px -10px 90px #111,
                 -10px  10px 90px #111;
}

section[data-state="title"] p.bio {
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 4em;
    height: 3em;
    background-image: url("../../common/img/jmikola_cartoon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="title"] p.bio a[href*="twitter"] {
    background-image: url("../../common/img/twitter-bird-light-bgs.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 50px;
}

section[data-state="title"] div.company {
    text-align: right;
}

section[data-state="title"] div.company > img {
    vertical-align: top;
}

section[data-state="year"] {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

section[data-state="year"] h3 {
    font-size: 2em;
    margin-bottom: 1em;
}

section[data-state="year"] > ul {
    margin-bottom: 1em;
}

section[data-state="benchmark"] table {
    margin: 1em auto;
}

section[data-state="benchmark"] td {
    text-align: center;
}

section[data-state="thanks"] h1 + h3 {
  margin-top: 1em;
}

section[data-state="thanks"] hr {
  margin: 2em 4em;
}

section[data-state="photo-credits"] ul li {
    font-size: 0.5em;
    line-height: 1.2em;
}

.reveal h3 a,
.reveal h4 a {
    line-height: inherit !important;
}

.reveal h3 small,
.reveal h4 small {
    color: #999;
    vertical-align: bottom;
}
