@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("../lib/font/lato_bold.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: local("Lato Italic"), local("Lato-Italic"), url("../lib/font/lato_italic.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../lib/font/lato_bold_italic.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("../lib/font/lato.woff") format("woff");
}

.reveal section pre {
    margin-bottom: 2em;
}

/* Prevent clipping of underscores in fragments */
.reveal section pre code span.fragment {
    padding-bottom: 1px;
}

.reveal section pre code span.stdout {
    display: inline-block;
    margin: 0.5em 2em;
    padding: 0 0.5em;
    background-color: rgba(0, 0, 0, 0.2);
}

.reveal section table {
    margin: 1em auto;
    line-height: 1.1em;
}

.reveal section table.bordered {
    border: outset 0.1em;
    border-collapse: separate;
    border-spacing: 0;
}

.reveal section table.bordered th,
.reveal section table.bordered td {
    border: inset 0.1em;
    padding: 0.25em;
    text-align: center;
}

@media screen {
    .reveal section p.photo-credit {
        bottom: 0;
        font-size: 0.5em;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .reveal section p.photo-credit a {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media print {
    .reveal section p.photo-credit {
        display: none;
    }
}

.reveal .footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 70px;
    width: 300px;
    background-image: url("../img/10gen_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

h1 span.mongodb-logo {
    display: block;
    height: 2em;
    width: 100%;
    text-indent: -9999px;
    background-image: url("../img/mongodb_ondark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="title"] h1 {
    font-size: 3em;
}

section[data-state="title"] p.bio {
    display: inline-block;
    margin-top: 1em;
    padding-left: 4em;
    height: 3em;
    background-image: url("../img/jmikola_cartoon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="about-10gen"] h2 {
    text-indent: -9999px;
    background-image: url("../img/10gen_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-10gen .reveal .footer {
    background-image: none;
}

.starting-off .state-background {
    background-image: url("../img/highway.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="starting-off"] h2 {
    color: #000;
}

section[data-state="starting-off"] ul {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 0.5em;
    padding-right: 0.25em;
}

section[data-state="starting-off"] li {
    list-style-position: inside;
    margin-top: 0.5em;
}

section[data-state="starting-off"] li:first-child {
    margin-top: 0;
}

section[data-state="terminology"] th:first-child,
section[data-state="terminology"] td:first-child {
    text-align: right;
}

section[data-state="database-landscape"] div.diagram {
    margin: 0 auto;
    position: relative;
    height: 12em;
    width: 20em;
    background-image: url("../img/graph_white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="database-landscape"] ul {
    display: block;
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

section[data-state="database-landscape"] li {
    position: absolute;
    list-style-position: inside;
    list-style-type: disc;
    font-size: 0.75em;
}

section[data-state="database-landscape"] li.memcached { top: 1.5em; left: 3em; }
section[data-state="database-landscape"] li.key-value { top: 3em; left: 6em; }
section[data-state="database-landscape"] li.mongodb   { top: 4.5em; left: 18em; }
section[data-state="database-landscape"] li.rdbms     { top: 10em; left: 21em; }

section[data-state="database-landscape"] li.mongodb {
    height: 2em;
    width: 6em;
    text-indent: -9999px;
    background-image: url("../img/mongodb_ondark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="database-landscape"] div.x-axis,
section[data-state="database-landscape"] div.y-axis {
    font-size: 0.75em;
}

section[data-state="database-landscape"] div.x-axis {
    position: absolute;
    bottom: -0.4em;
    left: 7.8em;
}

section[data-state="database-landscape"] div.y-axis {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-90deg) translate(-8em, -6.5em);
       -moz-transform: rotate(-90deg) translate(-8em, -6.5em);
        -ms-transform: rotate(-90deg) translate(-8em, -6.5em);
         -o-transform: rotate(-90deg) translate(-8em, -6.5em);
            transform: rotate(-90deg) translate(-8em, -6.5em);
}

section[data-state="relational-modeling"] > ul {
    width: 100%;
}

section[data-state="relational-modeling"] > ul > li {
    float: left;
    margin-top: 1em;
    width: 49%;
}

section[data-state="relational-modeling"] > ul > li:nth-child(odd) {
    clear: left;
}

section[data-state="relational-diagram"] table {
    float: left;
    font-size: 0.5em;
    margin-left: 5%;
}

section[data-state="relational-diagram"] table#relational-authors {
    clear: left;
}

.relational-segue .state-background {
    background-image: url("../img/sagecrm_schema.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="relational-segue"] h1 {
    color: #000;
}

.relational-segue .footer {
    background-image: url("../img/10gen_black.png");
}

.getting-started .state-background {
    background-image: url("../img/stopwatch_white.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="getting-started"] h1,
section[data-state="getting-started"] h3,
section[data-state="getting-started"] h6 {
    color: #000;
}

.getting-started .footer {
    background-image: url("../img/10gen_black.png");
}

section[data-state="php-driver"] blockquote {
    margin-top: 1em;
}

.get-cooking .state-background {
    background-image: url("../img/panda_pan.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="driver-type-classes"] > ul > li {
    float: left;
    width: 45%;
}

section[data-state="driver-type-classes"] > ul > li:nth-child(even) {
    margin-left: 5%;
}

section[data-state="identifiers"] blockquote {
    background-color: rgba(0, 0, 0, 0.5);
}

.identifiers .state-background {
    background-image: url("../img/lego_police.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.identifiers .footer {
    background-image: url("../img/10gen_black.png");
}

section[data-state="atomic-operators"] > ul {
    width: 100%;
}

section[data-state="atomic-operators"] > ul > li {
    float: left;
    margin-top: 1em;
    width: 49%;
}

section[data-state="atomic-operators"] > ul > li:nth-child(odd) {
    clear: left;
}

.querying .state-background {
    background-image: url("../img/lego_sherlock.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="business-requirements"] h2 {
    color: #000;
}

section[data-state="business-requirements"] blockquote {
    background-color: rgba(0, 0, 0, 0.5);
}

.business-requirements .state-background {
    background-image: url("../img/business_requirements.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="query-operators"] > ul {
    width: 100%;
}

section[data-state="query-operators"] > ul > li {
    float: left;
    margin-top: 1em;
    width: 33%;
}

section[data-state="query-operators"] > ul > li:nth-child(3n+1) {
    clear: left;
}

.indexing .state-background {
    background-image: url("../img/rolodex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[data-state="commands"] ul {
    width: 100%;
}

section[data-state="commands"] > ul > li > ul > li {
    float: left;
    width: 33%;
}

section[data-state="commands"] > ul > li > ul > li:nth-child(3n+1) {
    clear: left;
}

.gridfs-title .state-background {
    background-image: url("../img/container_ship.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.geospatial-title .state-background {
    background-image: url("../img/earth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.companies .state-background {
    background-image: url("../img/companies.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen {
    section[data-state="companies"] h1 {
        display: none;
    }

    .companies .reveal .footer {
        background-image: none;
    }
}

section[data-state="final"] ul,
section[data-state="final"] h3 {
    margin-top: 2em;
}
