h1 span.logo-mongodb {
    height: 300px;
    width: 100%;
}

li strike {
    opacity: 0.5;
}

div.col-left {
    float: left;
    width: 50%;
}

div.col-right {
    float: right;
    width: 50%;
}

section.ul-2col > ul {
    width: 100%;
}

section.ul-2col > ul > li {
    float: left;
    margin-top: 0.5em;
    width: 50%;
}

section.ul-2col > ul > li:nth-child(odd) {
    clear: left;
}

section[data-state="title"] h1 {
    font-size: 1.8em;
    text-align: right;
}

section[data-state="title"] p.bio {
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 4em;
    height: 3em;
    background-image: url("../../common/img/jmikola_cartoon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="intro"] p {
    margin-top: 1em;
}

@media screen {
    .warehouse .state-background,
    .mapreduce .state-background,
    .mapreduce-mongodb .state-background,
    .framework .state-background {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .warehouse .state-background {
        background-image: url("../img/warehouse.jpg");
    }

    .mapreduce .state-background {
        background-image: url("../img/wenger.jpg");
    }

    .mapreduce-mongodb .state-background {
        background-image: url("../img/swiss_army_macro.jpg");
    }

    .framework .state-background {
        background-image: url("../img/swiss_army.jpg");
    }

    section.bg {
        background: rgba(0,0,0,0.66);
    }
}

div.pipeline-step pre {
    font-size: 0.5em;
    line-height: 1.2em;
    width: 100%;
}

div.pipeline-in {
    float: left;
    width: 45%;
}

div.pipeline-op {
    float: right;
    width: 55%;
}

div.pipeline-op span.arrow {
    display: block;
    float: left;
}

div.pipeline-op span.arrow:first-child {
    margin-top: 0.1em;
    text-align: center;
    width: 18%;
}

div.pipeline-op span.arrow:last-child {
    clear: both;
    margin-left: 55%;
}

div.pipeline-op pre {
    float: right;
    width: 82%;
}

div.pipeline-op pre code {
    background-color: rgba(248,248,255,0.75);
}

div.pipeline-op pre code * {
    color: #1d1f21 !important;
}

div.pipeline-out {
    clear: right;
    float: right;
    width: 45%;
}

section[data-state="pipeline"] pre {
    font-size: 1em !important;
    margin-top: 1em;
    text-align: center;
}

section[data-state="expressions"] ul > li > ul > li {
    font-size: 0.75em;
}

section[data-state="sharding-diagram"] div.node-1,
section[data-state="sharding-diagram"] div.node-3 {
    clear: both;
    width: 100%;
}

section[data-state="sharding-diagram"] div.node-3 > div {
    display: inline-block;
    margin-left: 4%;
    width: 30%;
    vertical-align: top;
}

section[data-state="sharding-diagram"] div.node-3 > div:first-child {
    margin-left: 0;
}

section[data-state="sharding-diagram"] span.arrow {
    display: block;
    font-size: 1.3em;
    height: 1em;
    line-height: 0.8em;
    padding-bottom: 0.25em;
    text-align: center;
}

section[data-state="sharding-diagram"] div.node-3 > div:first-child > span.arrow { text-align: right; }
section[data-state="sharding-diagram"] div.node-3 > div:last-child > span.arrow { text-align: left; }

section[data-state="sharding-diagram"] div.node-1 > div,
section[data-state="sharding-diagram"] div.node-1 > span.arrow {
    width: 30%;
    margin: 0 auto;
}

section[data-state="sharding-diagram"] div.node {
    display: block;
    background-color: #1d1f21;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
}

section[data-state="sharding-diagram"] div.node > span.label {
    display: block;
}

section[data-state="sharding-diagram"] div.node > ul {
    list-style: none;
    margin: 0 0 0.25em;
}

section[data-state="sharding-diagram"] div.node > ul > li {
    font-size: 0.66em;
    line-height: 1.2em;
}

section[data-state="sharding-diagram"] sub {
    font-size: 0.75em;
}

section[data-state="final"] ul { margin-top: 2em; }
section[data-state="final"] h3 { margin-top: 1.5em; }

section[data-state="photo-credits"] ul li {
    font-size: 0.5em;
    line-height: 1.2em;
}

div.mario-container {
    margin: 50px auto;
    position: relative;
    display: block;
    width: 256px; max-width: 256px;
    height: 128px; max-height: 128px;
    border: 2px solid #fff;
    overflow: hidden;

    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
}

div.mario-bg {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 256px; max-width: 256px;
    height: 128px; max-height: 128px;
    background-image: url("../img/mario-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.mario-pipes {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 256px; max-width: 256px;
    height: 64px; max-height: 128px;
    background-image: url("../img/mario-pipes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

div.mario-sprite {
    position: absolute;
    bottom: 16px;
    left: 148px;
    z-index: 2;
    width: 16px; max-width: 16px;
    height: 28px; max-height: 28px;
    background-image: url("../img/mario-sprite.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
