@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("../../common/font/lato_bold.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("../../common/font/lato.woff") format("woff");
}

@media print {
    .reveal .footer {
        display: none;
    }
}

@media screen {
    .reveal .footer {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 70px;
        width: 300px;
        background-image: url("../img/10gen_white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5;
    }
}

h1 span.mongodb-logo {
    display: block;
    height: 300px;
    width: 100%;
    text-indent: 9999px;
    background-image: url("../img/mongodb_ondark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="title"] h1 {
    font-size: 2em;
    text-align: right;
}

section[data-state="title"] span.new {
    position: absolute;
    display: block;
    float: left;
    margin: -100px 0 0 50px;
    width: 200px;
    height: 200px;
    background-image: url("../img/new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section[data-state="title"] p.bio {
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 4em;
    height: 3em;
    background-image: url("../img/jmikola_cartoon.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Pipeline operations */
div.pipeline-step pre {
    font-size: 0.5em;
    line-height: 1.2em;
    width: 100%;

}

div.pipeline-in {
    float: left;
    width: 45%;
}

div.pipeline-op {
    float: right;
    width: 55%;
}

div.pipeline-op span.arrow {
    display: block;
    float: left;
}

div.pipeline-op span.arrow:first-child {
    margin-top: 0.1em;
    text-align: center;
    width: 17%;
}

div.pipeline-op span.arrow:last-child {
    clear: both;
    margin-left: 55%;
}

div.pipeline-op pre {
    float: right;
    width: 83%;
}

div.pipeline-out {
    clear: right;
    float: right;
    width: 45%;
}

section[data-state="pipeline"] pre {
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
}

section[data-state="sharding-diagram"] div.node-1,
section[data-state="sharding-diagram"] div.node-3 {
    clear: both;
    width: 100%;
}

section[data-state="sharding-diagram"] div.node-3 > div {
    display: inline-block;
    margin-left: 4%;
    width: 30%;
}

section[data-state="sharding-diagram"] div.node-3 > div:first-child {
    margin-left: 0;
}

section[data-state="sharding-diagram"] span.arrow {
    display: block;
    font-size: 2em;
    height: 1em;
    line-height: 0.8em;
    padding-bottom: 0.25em;
    text-align: center;
}

section[data-state="sharding-diagram"] div.node-3 > div:first-child > span.arrow { text-align: right; }
section[data-state="sharding-diagram"] div.node-3 > div:last-child > span.arrow { text-align: left; }

section[data-state="sharding-diagram"] div.node-1 > div,
section[data-state="sharding-diagram"] div.node-1 > span.arrow {
    width: 30%;
    margin: 0 auto;
}

section[data-state="sharding-diagram"] div.node {
    display: block;
    background-color: #1d1f21;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    text-align: center;
    width: 100%;
}

section[data-state="sharding-diagram"] div.node > span.label {
    display: block;
}

section[data-state="sharding-diagram"] div.node > ul {
    list-style: none;
    margin: 0 0 0.25em;
}

section[data-state="sharding-diagram"] div.node > ul > li {
    font-size: 0.66em;
    line-height: 1.2em;
}

section[data-state="final"] ul { margin-top: 2em; }
section[data-state="final"] h3 { margin-top: 1.5em; }

section[data-state="photo-credits"] ul li {
    font-size: 0.5em;
    line-height: 1.2em;
}
