body {
    background-color: #003594;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(37,77,148,1) 0%, rgba(26,53,102,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(37,77,148,1)), color-stop(100%,rgba(26,53,102,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(37,77,148,1) 0%,rgba(26,53,102,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(37,77,148,1) 0%,rgba(26,53,102,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(37,77,148,1) 0%,rgba(26,53,102,1) 100%);
    background: radial-gradient(center, ellipse cover,  rgba(37,77,148,1) 0%,rgba(26,53,102,1) 100%);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h1 {
    font-size: 3.5em;
    text-shadow:    0 1px 0 rgba(0,0,0,0.3),
                    0 3px 0 rgba(0,0,0,0.25),
                    0 5px 0 rgba(0,0,0,0.2),
                    0 0 5px rgba(0,0,0,.1),
                    0 20px 20px rgba(0,0,0,.15);
}

.reveal h1,
.reveal h2 {
    color: #abdc44;
}